body {
    font-family: 'Avenir Next', Calibri, sans-serif;
    background-color: #fde482;
}

ul, ol, a {
    font-size: 18px;
}
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul, li {
    padding-left: 1em;
    text-indent: -1em;
}

ul > li:before {
    content: "\2606";
    padding-right: 5px;
}
img {
    border-radius: 8px;
    height: auto;
    width: 300px;
}

h2:before, h2:after {
    content: "\2606";
    padding-left: 5px;
    padding-right: 5px;
}