body {
    font-family: 'Avenir Next', Calibri, sans-serif;
    background-color: #fde482;
}

h1, ul {
    text-align: center;
    max-inline-size: 150%;
}


.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    height: 200px;
    width: 300px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 18px;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: "\2606";
    padding-right: 5px;
}
/*You have to use the Hex code found here: https://www.w3schools.com/charsets/ref_utf_misc_symbols.asp */

 